<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <footer class="footer">
        <div class="section1">
            <ul class="ul-left">
                <li><a href="#"><img src="./../../assets/images/x_logo.png" alt="5" width="30px"></a></li>
                <li><a href="">Product</a></li>
                <li><a href="">Solutions</a></li>
                <li><a href="">Prices</a></li>
                <li><a href="">Enterprices</a></li>
            </ul>
            <ul class="ul-right">
                <li><a href="#"><img src="./../../assets/images/x_logo.png" alt="1" width="30px"></a></li>
                <li><a href="#"><img src="./../../assets/images/x_logo.png" alt="2" width="30px"></a></li>
                <li><a href="#"><img src="./../../assets/images/x_logo.png" alt="3" width="30px" ></a></li>
                <li><a href="#"><img src="./../../assets/images/x_logo.png" alt="4" width="30px"></a></li>
                <li><a href="#"><img src="./../../assets/images/x_logo.png" alt="5" width="30px"></a></li>
            </ul>
            

        </div>
        <hr>
        <div class="section2">
            <ul class="list">
                <li><b>Templates</b></li>
                <li><a href="#">one</a></li>
                <li>two</li>
                <li>three</li>
                <li>four</li>
            </ul>
            <ul class="list">
                <li><b>Extensions</b></li>
                <li>one</li>
                <li>two</li>
                <li>three</li>
                <li>four</li>
            </ul>
            <ul class="list">
                <li><b>solutions</b></li>
                <li>one</li>
                <li>two</li>
                <li>three</li>
                <li>four</li>
            </ul>
            <ul class="list">
                <li><b>learn more</b></li>
                <li>one</li>
                <li>two</li>
                <li>three</li>
                <li>four</li>
            </ul>
            <ul class="list">
                <li><b>company</b></li>
                <li>one</li>
                <li>two</li>
                <li>three</li>
                <li>four</li>
            </ul>
        </div>
    </footer>
</body>
</html>